name: Build for CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '9.0.x' # The .NET SDK version to use

jobs:
  build-plugin-ci:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    
    - name: Install .NET MAUI Workload
      run: dotnet workload restore samples\Plugin.Maui.Exif.Sample.sln

    - name: Build
      run: dotnet build src\Plugin.Maui.Exif.sln -c Release
    
    - name: Pack
      run: dotnet pack src\Plugin.Maui.Exif.sln -c Release --no-build
    
    - name: Upload NuGet packages as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nuget-packages
        path: |
          src\Plugin.Maui.Exif\bin\Release\*.nupkg
          src\Plugin.Maui.Exif\bin\Release\*.snupkg
